node-red/flows.json
[{"id":"a7359ec.2d8006","type":"tab","label":"Volt MX","disabled":false,"info":""},{"id":"59c0464b.a3bb3","type":"inject","z":"a7359ec.2d8006","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":260,"wires":[["6d193145.273a3"]]},{"id":"6d193145.273a3","type":"function","z":"a7359ec.2d8006","name":"","func":"msg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": flow.get('dominoAuth')\n};\nmsg.url=flow.get('dominoPath') + flow.get('webFrameworkDb') + '/TestAgent?OpenAgent&foo=bar%26bar';\nmsg.payload = {\n    \"unid\": flow.get('testUnid'),\n    \"payload\": {\n        \"FirstName\": \"Adrian\",\n        \"TestVal\": 20,\n        \"TestBoolean\": false\n    },\n    \"foo\": \"bar2\",\n    \"docs\": [\n        {\n            \"unid\": \"123456\",\n            \"FirstName\": \"Fred\",\n            \"LastName\": \"Bloggs\"\n        },\n        {\n            \"unid\": \"234567\",\n            \"FirstName\": \"John\",\n            \"LastName\": \"Doe\"\n        },\n        {\n            \"unid\": \"345678\",\n            \"FirstName\": \"Jane\",\n            \"LastName\": \"Doe\"\n        }\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["56b2ca87.4dd22c"]]},{"id":"56b2ca87.4dd22c","type":"http request","z":"a7359ec.2d8006","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":470,"y":260,"wires":[["4aa256b3.dd0858","cfa9aae8.848d5"]]},{"id":"4aa256b3.dd0858","type":"debug","z":"a7359ec.2d8006","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":260,"wires":[]},{"id":"c356f902.c19698","type":"comment","z":"a7359ec.2d8006","name":"Tester Agents","info":"","x":110,"y":220,"wires":[]},{"id":"a2d14426.9c49a","type":"ui_button","z":"a7359ec.2d8006","name":"","group":"17215018.2fdff8","order":1,"width":"11","height":"1","passthru":false,"label":"Demo Agent","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":270,"y":220,"wires":[["6d193145.273a3"]]},{"id":"7e74321e.cd1994","type":"change","z":"a7359ec.2d8006","name":"","rules":[{"t":"set","p":"dominoPath","pt":"flow","to":"payload.basePath","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[[]]},{"id":"55ef0645.9bd2b","type":"change","z":"a7359ec.2d8006","name":"","rules":[{"t":"set","p":"dominoAuth","pt":"flow","to":"'Basic ' & $base64encode(msg.payload.username & ':' & msg.payload.password)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":160,"wires":[[]]},{"id":"e2f536bb.c35c","type":"ui_form","z":"a7359ec.2d8006","name":"","label":"Configuration","group":"16f5f9f4.92bdce","order":3,"width":"6","height":"12","options":[{"label":"Base Path","value":"basePath","type":"text","required":true,"rows":null},{"label":"Web Framework Db","value":"webFrameworkDb","type":"text","required":false,"rows":null},{"label":"Username","value":"username","type":"text","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null},{"label":"Data Db","value":"dataDbPath","type":"text","required":false,"rows":null},{"label":"Callback Host (Node-RED with ngrok)","value":"callbackBaseUrl","type":"text","required":true,"rows":null},{"label":"Tester Doc","value":"testUnid","type":"text","required":false,"rows":null},{"label":"Threads Doc","value":"threadsUnid","type":"text","required":false,"rows":null}],"formValue":{"basePath":"","webFrameworkDb":"","username":"","password":"","dataDbPath":"","callbackBaseUrl":"","testUnid":"","threadsUnid":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":100,"wires":[["7e74321e.cd1994","55ef0645.9bd2b","b957f175.a00188","f125906c.8aaa3"]]},{"id":"a2eb4b77.1cefc8","type":"inject","z":"a7359ec.2d8006","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["a03a9da8.5909"]]},{"id":"a03a9da8.5909","type":"function","z":"a7359ec.2d8006","name":"","func":"msg.payload = {\n    \"dbPath\": flow.get('dataDbPath'),\n    \"agentName\": \"EchoDoc\",\n    \"method\": \"POST\",\n    \"callbackUrl\": flow.get('callbackBaseUrl') + \"api/callback\",\n    \"unid\": flow.get('testUnid')\n};\nmsg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": flow.get('dominoAuth')\n};\nmsg.url=flow.get('dominoPath') + flow.get('webFrameworkDb') + '/RunAgentAsync?OpenAgent';\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":600,"wires":[["36478340.48cd04"]]},{"id":"36478340.48cd04","type":"http request","z":"a7359ec.2d8006","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":480,"y":600,"wires":[["81653cca.b271a8","54ffb40.909464c"]]},{"id":"81653cca.b271a8","type":"debug","z":"a7359ec.2d8006","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":600,"wires":[]},{"id":"eaf5235a.2cbf98","type":"http in","z":"a7359ec.2d8006","name":"","url":"/api/callback","method":"post","upload":false,"swaggerDoc":"","x":150,"y":680,"wires":[["f5037eea.d011e","b4e179b6.95faa","5eab4b66.91bdfc"]]},{"id":"f5037eea.d011e","type":"http response","z":"a7359ec.2d8006","name":"","statusCode":"200","headers":{},"x":420,"y":680,"wires":[]},{"id":"b4e179b6.95faa","type":"debug","z":"a7359ec.2d8006","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":740,"wires":[]},{"id":"22655e83.23c58a","type":"inject","z":"a7359ec.2d8006","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":360,"wires":[["8ea07e5d.421d58"]]},{"id":"8ea07e5d.421d58","type":"function","z":"a7359ec.2d8006","name":"","func":"msg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": flow.get('dominoAuth')\n};\nmsg.url=flow.get('dominoPath') + flow.get('webFrameworkDb') + '/TestVoltMXAgent?OpenAgent';\nmsg.payload = {\n    \"unid\": flow.get('testUnid'),\n    \"payload\": {\n        \"FirstName\": \"Adriaan\",\n        \"TestVal\": 20,\n        \"TestBoolean\": false\n    },\n    \"dbPath\": flow.get(\"dataDbPath\"),\n    \"returnFields\": [\n        \"FirstName\",\n        \"LastName\",\n        \"City\",\n        \"State\",\n        \"Email\"\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":360,"wires":[["6c9a7100.4e022"]]},{"id":"abf8fcfc.5380e8","type":"debug","z":"a7359ec.2d8006","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":670,"y":360,"wires":[]},{"id":"6c9a7100.4e022","type":"http request","z":"a7359ec.2d8006","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":360,"wires":[["abf8fcfc.5380e8","957fe174.35c4b"]]},{"id":"5a21a3fd.931524","type":"comment","z":"a7359ec.2d8006","name":"Async Agent","info":"","x":150,"y":560,"wires":[]},{"id":"fcdff6d.7929188","type":"comment","z":"a7359ec.2d8006","name":"Update Name and Threads","info":"","x":170,"y":460,"wires":[]},{"id":"1c419dc.4aa8b62","type":"inject","z":"a7359ec.2d8006","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":500,"wires":[["3e95e70c.55d578"]]},{"id":"3e95e70c.55d578","type":"function","z":"a7359ec.2d8006","name":"","func":"msg.headers = {\n    \"Content-Type\": \"application/json\",\n    \"Authorization\": flow.get('dominoAuth')\n};\nmsg.url = flow.get('dominoPath') + flow.get('dataDbPath') + '/UpdateContactAndThreadsBE?OpenAgent'\nmsg.payload = {\n    \"unid\": flow.get('threadsUnid'),\n    \"payload\": {\n        \"FirstName\": \"Andy\",\n        \"TestVal\": 20,\n        \"TestBoolean\": false\n    },\n    \"returnFields\": [\n        \"FirstName\",\n        \"LastName\",\n        \"City\",\n        \"State\",\n        \"Email\"\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":500,"wires":[["2ee5f0c4.bf4dc","81653cca.b271a8"]]},{"id":"2ee5f0c4.bf4dc","type":"http request","z":"a7359ec.2d8006","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":500,"wires":[["7b63abdb.6f7b7c","ea30ed3.aeb7a9"]]},{"id":"7b63abdb.6f7b7c","type":"debug","z":"a7359ec.2d8006","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":680,"y":500,"wires":[]},{"id":"9bedbe38.2f283","type":"ui_button","z":"a7359ec.2d8006","name":"","group":"17215018.2fdff8","order":3,"width":"11","height":"1","passthru":false,"label":"Demo Volt MX Agent","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":310,"y":320,"wires":[["8ea07e5d.421d58"]]},{"id":"d906b923.710c68","type":"ui_template","z":"a7359ec.2d8006","group":"17215018.2fdff8","name":"","order":4,"width":"11","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":800,"y":420,"wires":[[]]},{"id":"957fe174.35c4b","type":"template","z":"a7359ec.2d8006","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FirstName: {{payload.FirstName}}<br/>\nLastName: {{payload.LastName}}<br/>\nCity: {{payload.City}}<br/>\nState: {{payload.State}}<br/>\nEmail: {{payload.Email}}<br/>\nUNID: {{payload.@unid}}","output":"str","x":640,"y":420,"wires":[["d906b923.710c68"]]},{"id":"cfa9aae8.848d5","type":"template","z":"a7359ec.2d8006","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<b>Output</b><br/>\n\"Hello\":{{payload.Hello}}<br/>\n{{payload.names}}","output":"str","x":620,"y":180,"wires":[["8f8a07cb.32376"]]},{"id":"8f8a07cb.32376","type":"ui_template","z":"a7359ec.2d8006","group":"17215018.2fdff8","name":"","order":2,"width":"11","height":"2","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":180,"wires":[[]]},{"id":"4cfcabb9.a5c714","type":"ui_button","z":"a7359ec.2d8006","name":"","group":"17215018.2fdff8","order":5,"width":"11","height":"1","passthru":false,"label":"Demo Names and Threads","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":440,"y":460,"wires":[["3e95e70c.55d578"]]},{"id":"ea30ed3.aeb7a9","type":"template","z":"a7359ec.2d8006","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"FirstName: {{payload.FirstName}}<br/>\nLastName: {{payload.LastName}}<br/>\nCity: {{payload.City}}<br/>\nState: {{payload.State}}<br/>\nEmail: {{payload.Email}}<br/>\nUNID: {{payload.@unid}}<br/>\nUpdated Threads: {{payload.UpdatedThreads}}","output":"str","x":660,"y":540,"wires":[["d6fb1594.92b2b8"]]},{"id":"d6fb1594.92b2b8","type":"ui_template","z":"a7359ec.2d8006","group":"17215018.2fdff8","name":"","order":6,"width":"11","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":820,"y":540,"wires":[[]]},{"id":"edc80558.56fd1","type":"ui_button","z":"a7359ec.2d8006","name":"","group":"17215018.2fdff8","order":6,"width":0,"height":0,"passthru":false,"label":"Trigger Async Agent","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":370,"y":560,"wires":[["a03a9da8.5909"]]},{"id":"54ffb40.909464c","type":"template","z":"a7359ec.2d8006","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Status: {{payload.status}}<br/>\nRequest ID: {{payload.requestID}}","output":"str","x":620,"y":660,"wires":[["75a0f976.785d8"]]},{"id":"75a0f976.785d8","type":"ui_template","z":"a7359ec.2d8006","group":"17215018.2fdff8","name":"","order":6,"width":"11","height":"1","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":660,"wires":[[]]},{"id":"5eab4b66.91bdfc","type":"template","z":"a7359ec.2d8006","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<b>RESPONSE</b><br/>\nID: {{payload.response.Id}}<br/>\nFirstName: {{payload.response.FirstName}}<br/>\nLastName: {{payload.response.LastName}}<br/>\nCity: {{payload.response.City}}<br/>\nState: {{payload.response.State}}<br/>\nEmail: {{payload.response.Email}}<br/>\nTestVal: {{payload.response.TestVal}}<br/>\nTest Boolean: {{payload.response.TestBoolean}}<br/>\nUNID: {{payload.response.@unid}}<br/>\nUpdated By: {{payload.response.$UpdatedBy}}<br/>\nRevisions: {{payload.response.$Revisions}}","output":"str","x":420,"y":780,"wires":[["c4044837.f14878"]]},{"id":"c4044837.f14878","type":"ui_template","z":"a7359ec.2d8006","group":"17215018.2fdff8","name":"","order":8,"width":"11","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":780,"wires":[[]]},{"id":"b957f175.a00188","type":"function","z":"a7359ec.2d8006","name":"","func":"flow.set(\"webFrameworkDb\", msg.payload.webFrameworkDb);\nflow.set(\"dataDbPath\", msg.payload.dataDbPath);\nflow.set(\"callbackBaseUrl\", msg.payload.callbackBaseUrl);\nflow.set(\"testUnid\", msg.payload.testUnid);\nflow.set(\"threadsUnid\", msg.payload.threadsUnid);\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":120,"wires":[[]]},{"id":"412b2293.35238c","type":"ui_template","z":"a7359ec.2d8006","group":"16f5f9f4.92bdce","name":"","order":1,"width":"6","height":"7","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":440,"y":40,"wires":[[]]},{"id":"bbc4e480.831408","type":"template","z":"a7359ec.2d8006","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h2>Instructions</h2>\n<ol>\n    <li>Install and sign the Web Agent Framework database on your Domino server.</li>\n    <li>RunAgentAsync agent needs to be scheduled, e.g. every 2 minutes.</li>\n    <li>Install and sign a copy of the XPages Extension Library database and use the web admin page to set up data.</li>\n    <li>Complete the configuration form and submit.</li>\n    <ul>\n        <li>Base paths should include protocol (http/https) and end in a forward-slash</li>\n        <li>The username and password should map to a user that has at least Author access to Web Agent Framework and Reader access to XPages Extension Library database.</li>\n        <li>Database paths should be paths relative to Domino server</li>\n        <li>Tester document should be a Contact in XPages Extension Library database.</li>\n        <li>Threads document should be a Contact who is also the author of threads in XPages Extension Library database.</li>\n    </ul>\n    <li>Click the buttons.</li>\n</ol>","output":"str","x":280,"y":40,"wires":[["412b2293.35238c"]]},{"id":"9596ceb3.cc9418","type":"inject","z":"a7359ec.2d8006","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":40,"wires":[["bbc4e480.831408"]]},{"id":"f1bbc609.1c1878","type":"http request","z":"a7359ec.2d8006","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://domino.projectkeep.io/WebAgentFramework.nsf/TestAgent?OpenAgent","tls":"","persist":false,"proxy":"","authType":"basic","x":620,"y":60,"wires":[[]]},{"id":"728da0e7.1383","type":"ui_button","z":"a7359ec.2d8006","name":"","group":"16f5f9f4.92bdce","order":2,"width":0,"height":0,"passthru":false,"label":"Reset Responses","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":840,"wires":[["f125906c.8aaa3"]]},{"id":"f125906c.8aaa3","type":"template","z":"a7359ec.2d8006","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":340,"y":840,"wires":[["c4044837.f14878","75a0f976.785d8","d6fb1594.92b2b8","d906b923.710c68","8f8a07cb.32376"]]},{"id":"17215018.2fdff8","type":"ui_group","name":"Group 2","tab":"2cac178b.c95d6","order":2,"disp":false,"width":"12","collapse":false},{"id":"16f5f9f4.92bdce","type":"ui_group","name":"Config","tab":"2cac178b.c95d6","order":1,"disp":false,"width":"6","collapse":false},{"id":"2cac178b.c95d6","type":"ui_tab","name":"Volt MX LS Toolkit","icon":"dashboard","order":2,"disabled":false,"hidden":false}]